$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/** Puzzle styles **/

		.tile-placeholder {
	height: 100px;
	width: 100px;
	display: inline-block;
	float: left;
}
.tile {
	height: 100px;
	width: 100px;
	display: inline-block;
	float: left;
	text-align: center;
	line-height: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  border: 1px dotted #AAA;
}

.tile-1 {
	background-image: url('../images/isentia.jpg');
	background-position: 0 0;
}
.tile-2 {
	background-image: url('../images/isentia.jpg');
	background-position: -100px 0;
}
.tile-3 {
	background-image: url('../images/isentia.jpg');
	background-position: -200px 0;
}
.tile-4 {
	background-image: url('../images/isentia.jpg');
	background-position: 0 -100px;
}
.tile-5 {
	background-image: url('../images/isentia.jpg');
	background-position: -100px -100px;
}
.tile-6 {
	background-image: url('../images/isentia.jpg');
	background-position: -200px -100px;
}
.tile-7 {
	background-image: url('../images/isentia.jpg');
	background-position: 0 -200px;
}
.tile-8 {
	background-image: url('../images/isentia.jpg');
	background-position: -100px -200px;
}
.tile-9 {
	background-image: url('../images/isentia.jpg');
	background-position: -200px -200px;
}


#tiles-container {
	height: 300px;
	width: 300px;
}


